<a href="/products/edit/<%= product.id  %>" class="action-button edit">EDITAR PRODUCTO</a>

<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
    <button type="submit" class="action-button delete">ELIMINAR</button>
</form>